MusicMvcAndApi/MusicMvcAndApi/wwwroot/database/AlbumData.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Albums">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Album">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Track">
								<xs:complexType>
									<xs:attribute name="Title" type="xs:string" use="required" />
									<xs:attribute name="Runtime" type="xs:string" use="required" />
									<xs:attribute name="FeatArtist" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Title" type="xs:string" use="required" />
						<xs:attribute name="Artist" type="xs:string" use="required" />
						<xs:attribute name="ReleaseDate" type="xs:date" use="required" />
						<xs:attribute name="AverageUserRating" type="xs:decimal" use="required" />
						<xs:attribute name="Runtime" type="xs:unsignedShort" use="required" />
						<xs:attribute name="Price" type="xs:unsignedByte" use="required" />
						<xs:attribute name="Tracks" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>